<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Starter Page</title>
    <link rel="stylesheet" >
</head>
<style>
    h1{
    text-align: center;
    margin-top: 2%;
    font-family: cursive;
    font-weight: bolder;
    color: rgb(80, 78, 78);
    text-shadow: 2rem;
}

.events{
    margin-left: 10%;
    margin-top: 5rem;
    margin-right: 10%;
}

#textcolor{
    color: white;
}
</style>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand" href="#" id="textcolor">ABC</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href= <%=`/organizer/home/${users[0]._id}`%>  id="textcolor">Dashboard<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/organizer/create/<%=users[0]._id%>" id="textcolor">Create Event <span class="sr-only">(current)</span></a>
                </li>
    
                <li class="nav-item">
                  <a class="nav-link"  href="/organizer/view/<%=users[0]._id%>" id="textcolor">View Organized Events</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
              </form>
            </div>
          </nav>
    
</div>

    <h1>Created Events</h1>
    
    <div class="events">
    <div class="card-deck">

        <!-- Event 1 -->
        <%for(let i=0;i<CreatedEvents.length;i++){%>
        <div class="card">
        <img src="<%=CreatedEvents[i].image%>" class="card-img-top" alt="Anuv Jain">
        <div class="card-body">
            <h5 class="card-title"><%=CreatedEvents[i].title%></h5>
            <p class="card-text">Date:  <%=CreatedEvents[i].date%></p>
            <p class="card-text">Time: <%=CreatedEvents[i].time%></p>
            <p class="card-text">Location:<%=CreatedEvents[i].location%></p>
            <p class="card-text">Price: <%=CreatedEvents[i].price%></p>
            <p class="card-text">Description<%=CreatedEvents[i].description%></p>
            <!-- <button type="button" class="btn btn-dark">
            <a style="text-decoration: none; color: white;" href=<%=`/user/gateway/${users[0]._id}/${CreatedEvents[i]._id}`%>>Book Ticket</a>
            </button> -->
        </div>
    </div>
    <%}%>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>